body {
    
}

.footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:50px;
   width:100%;
   background:#999;
   text-align:left;
}   

img { 
    margin-top:10px;
    width: 30px;
    height: 30px;
}